<h1>Pages#about</h1>
<p>Victoire Le Tarnec vit et travaille à Paris où elle mène en parallèle projets photographiques personnels et travaux de commandes.
<br>
Diplômée de l'Ecole des Arts Décoratifs (EnsAD Paris) elle a également étudié à la School of Visual Arts de New-York (SVA), et a remporté la mention spéciale du prix Picto de la Photographie de Mode en 2014.
<br>
Elle présente régulièrement ses projets personnels dans le cadre de manifestations et d'expositions individuelles ou collectives, comme le Parcours Saint Germain à Paris, ou dernièrement l'exposition "Matin, midi et soir" à la galerie Honoré Visconti.
<br>
Elle collabore avec plusieurs clients dans les domaines du luxe et de l'édition, parmi lesquels figurent Dior Parfum, American Vintage, Longchamp, Le Gramme, JEM, Lancôme, Moët et Chandon, Champagne Frerejean frères, Vogue Türkiye, Journal Egoïste, Phaïdon.
</p>


